@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

h1,
h2,
p {
  margin: 0;
}

a {
  display: block;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  cursor: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Figtree", "Pretendard", sans-serif;
  cursor: none;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.background-color-black {
  background-color: #000 !important;
  color: #fff !important;
}

.background-color-white {
  background-color: #fff !important;
  color: #000 !important;
}

.background-color-ececec {
  background-color: #ececec !important;
  color: #000 !important;
}

.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: none;
  transition: width 150ms, height 150ms, background-color 150ms;
  transition-timing-function: ease;
  mix-blend-mode: difference;
}

.cursor.hover {
  width: 40px;
  height: 40px;
  background-color: #2B79A6;
}

.arrow-wrap {
  display: inline-block;
  position: relative;
  width: 9px;
  height: 9px;
  overflow: hidden;
}

.arrow-wrap .arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/arrow.png") no-repeat center center / cover;
  transition: 0.3s;
}

.arrow-wrap .arrow1 {
  top: 0;
  right: 0;
  opacity: 1;
}

.arrow-wrap .arrow2 {
  top: 105%;
  right: 105%;
  opacity: 0;
}

a:hover .arrow-wrap .arrow1 {
  top: -105%;
  right: -105%;
  opacity: 0;
}

a:hover .arrow-wrap .arrow2 {
  top: 0;
  right: 0;
  opacity: 1;
}

.container {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 24px 25px;
  box-sizing: border-box;
  mix-blend-mode: difference;
}

header h1 {
  width: 155px;
}

header h1 img {
  display: block;
  width: 100%;
}

header .gnb {
  display: flex;
}

header .gnb li {
  margin-right: 10px;
}

header .gnb li:last-of-type {
  margin-right: 0;
}

header .gnb li a {
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

header .gnb li a:hover,
header .gnb li a.on {
  background-color: #fff;
  border-radius: 50px;
  color: #000;
}

main {
  height: 100vh;
}

main h2 {
  position: absolute;
  top: 70px;
  width: 100%;
  font-size: 125px;
  font-weight: 600;
}

main .circle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .circle-wrap .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 265px;
  margin-right: 90px;
  background-color: #000;
  border-radius: 50%;
  font-size: 60px;
  font-weight: 600;
  transition: 0.2s;
}

main .circle-wrap .circle:hover {
  background-color: transparent;
}

main .circle-wrap .circle:last-of-type {
  margin-right: 0;
}

main .circle-wrap .circle .text-top {
  margin-left: 100px;
  font-size: 20px;
  font-weight: initial;
}

main .circle-wrap .circle .text-bottom {
  margin-right: 50px;
}

main .background-wrap .background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

main .background-wrap .background.active {
  opacity: 1;
}

main .background-wrap .background iframe {
  width: 100%;
  height: 56.25vw;
  vertical-align: top;
}

.about .about-sec1 {
  position: fixed;
  top: 0;
  left: 0;
  padding: 70px 30px 0;
  z-index: -1;
}

.about .about-sec1 .about-title {
  height: 214px;
  font-size: 175px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: -6px;
  overflow: hidden;
}

.about .about-sec1 .about-title > span {
  display: flex;
  align-items: center;
  position: relative;
  top: 215px;
}

.about .about-sec1 .about-title img {
  vertical-align: middle;
}

.about .about-sec1 .about-title .video {
  width: 360px;
  margin-right: 30px;
}

.about .about-sec1 .about-title .video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.about .about-sec1 .about-title .video > div {
  position: relative;
  padding: 45.83% 0px 0px;
}

.about .about-sec1 .about-title1 img {
  width: 718px;
  margin-left: 30px;
}

.about .about-sec1 .about-title2 em {
  font-family: "Noto Serif KR";
  font-weight: normal;
}

.about .about-sec1 .about-title2 img {
  width: 130px;
  margin-left: 10px;
}

.about .about-sec1 .about-title3 img {
  width: 285px;
  margin: 0 10px;
}

.about .about-sec1 .about-title4 img:first-of-type {
  width: 600px;
  margin-right: 25px;
}

.about .about-sec1 .about-title4 img:last-of-type {
  width: 210px;
  margin: 0 20px;
}

.about .about-sec2 {
  padding-top: 100vh;
}

.about .about-sec2 marquee {
  font-size: 125px;
  font-weight: 600;
}

.about .scroll-content {
  background-color: #000;
  color: #fff;
  transition: 1s;
}

.about .about-sec3 .video {
  position: relative;
  height: 780px;
  overflow: hidden;
}

.about .about-sec3 .video::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about .about-sec3 .text-wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px 0;
}

.about .about-sec3 .text {
  position: relative;
  top: 50px;
  width: 50%;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4;
  mix-blend-mode: difference;
  opacity: 0;
}

.about .about-sec3 .scroll-wrap {
  position: relative;
  margin-top: 140px;
  padding-top: 500px;
  opacity: 0;
}

.about .about-sec3 .scroll-wrap p {
  font-size: 125px;
  text-align: center;
}

.about .about-sec3 .img-list {
  position: absolute;
  top: calc(50% + 241px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .about-sec3 .img-list li {
  display: none;
}

.about .about-sec3 .img-list li.active {
  display: block;
}

.about .about-philosophy {
  padding: 0 35px 280px;
}

.about .about-philosophy .about-sub-title-wrap {
  display: flex;
  align-items: flex-end;
}

.about .about-philosophy .about-sub-title-wrap h2 {
  font-size: 170px;
  font-weight: 500;
  letter-spacing: -5px;
}

.about .about-philosophy .about-sub-title-wrap h2 p {
  height: 205px;
  overflow: hidden;
}

.about .about-philosophy .about-sub-title-wrap h2 span {
  position: relative;
  top: 100%;
}

.about .about-philosophy .about-sub-title-wrap a {
  height: 77px;
  margin: 0 0 33px 45px;
  overflow: hidden;
}

.about .about-philosophy .about-sub-title-wrap a span {
  position: relative;
  top: 100%;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.53;
}

.about .about-philosophy .arrow-wrap {
  width: 17px;
  height: 17px;
}

.about .about-philosophy .about-sub-text-wrap {
  display: flex;
  margin: 17px 0 65px;
}

.about .about-philosophy .about-sub-text-wrap p {
  height: 114px;
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.056px;
  line-height: 1.72;
  overflow: hidden;
}

.about .about-philosophy .about-sub-text-wrap p span {
  position: relative;
  top: 100%;
}

.about .about-philosophy .about-sub-text-wrap p:first-of-type {
  margin-right: 90px;
}

.about .about-philosophy .about-sub-wrap .about-sub {
  position: relative;
  top: 100px;
  opacity: 0;
}

.about .about-sec4 {
  padding: 330px 35px 280px;
}

.about .about-sec4 .about-sub-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-sec4 .about-sub-wrap .about-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 0 -21px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.about .about-sec4 .about-sub-wrap .about-sub:first-of-type {
  background-color: #6fffe5;
}

.about .about-sec4 .about-sub-wrap .about-sub:nth-of-type(2) {
  background-color: #ffa621;
}

.about .about-sec4 .about-sub-wrap .about-sub:last-of-type {
  background-color: #55b8ff;
}

.about .about-sec4 .about-sub-wrap .about-sub .number {
  font-style: normal;
  font-size: 50px;
}

.about .about-sec4 .about-sub-wrap .about-sub .title {
  margin: 35px 0 55px;
  font-size: 38px;
  line-height: 1.46;
  letter-spacing: -1px;
}

.about .about-sec4 .about-sub-wrap .about-sub .category {
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
}

.about .about-sec5 .about-sub-wrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.about .about-sec5 .about-sub-wrap .about-sub:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin-right: 400px;
  border-radius: 50%;
  border: 1px solid #000;
}

.about .about-sec5 .about-sub-wrap .line {
  position: absolute;
  top: 50%;
  left: 650px;
  width: 0;
  height: 1px;
  background-color: #000;
}

.about .about-sec5 .about-sub-wrap .about-sub:first-of-type p {
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: -2px;
  text-align: center;
}

.about .about-sec5 .about-sub-wrap .about-sub:first-of-type p:first-of-type {
  margin-bottom: 30px;
}

.about .about-sec5 .about-sub-wrap .about-sub:first-of-type p span {
  font-style: normal;
}

.about .about-sec6 .about-sub-text-wrap {
  margin: 17px 0 120px;
}

.about .about-sec6 .about-sub-wrap {
  display: flex;
  justify-content: center;
}

.about .about-sec6 .about-sub-wrap .about-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .about-sec6 .about-sub-wrap .about-sub:last-of-type {
  margin-left: -45px;
}

.about .about-sec6 .about-sub-wrap .about-sub:first-of-type > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  background-color: #000;
  border-radius: 300px;
}

.about .about-sec6 .about-sub-wrap .about-sub:first-of-type > div > p {
  padding: 0 27px;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -1.152px;
  text-align: center;
  color: #fff;
}

.about .about-sec6 .about-sub-wrap .about-sub:first-of-type > div > p span {
  font-style: normal;
}

.about .about-sec6 .about-sub-wrap .about-sub > p {
  margin-bottom: 21px;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.about .about-sec6 .about-sub-wrap .about-sub > img {
  width: 795px;
}

.about .about-sec7 {
  padding-bottom: 280px;
  overflow: hidden;
}

.about .about-sec7 h2 {
  height: 230px;
  padding: 0 35px;
  font-size: 171px;
  font-weight: 500;
  line-height: 1.273;
  letter-spacing: -5px;
  overflow: hidden;
}

.about .about-sec7 h2 p {
  position: relative;
  top: 100%;
  font-weight: 400;
}

.about .about-sec7 .attitude-wrap {
  display: flex;
  align-items: center;
  height: 375px;
  overflow: hidden;
}

.about .about-sec7 .attitude-wrap .attitude-item {
  display: flex;
  align-items: center;
  position: relative;
  top: 100%;
}

.about .about-sec7 .attitude-wrap .text-box p {
  font-size: 101px;
  line-height: 1.27;
  letter-spacing: -3px;
}

.about .about-sec7 .attitude-wrap .text-box p sup {
  margin: -4px 0 0 22px;
  font-size: 62px;
  font-style: normal;
  letter-spacing: -3px;
}

.about .about-sec7 .attitude-wrap .attitude-img1 {
  width: 457px;
}

.about .about-sec7 .attitude-wrap .attitude-img2 {
  width: 913px;
}

.about .about-sec7 .attitude-wrap .attitude-img3 {
  width: 250px;
}

.about .about-sec7 .text {
  padding-left: 35px;
  font-size: 38px;
  line-height: 1.63;
  font-weight: 600;
}

.about .about-sec7 .text p {
  height: 63px;
  overflow: hidden;
}

.about .about-sec7 .text em {
  position: relative;
  top: 100%;
}

.about .about-sec7 .text em span {
  font-style: normal;
  font-weight: normal;
}

.about .about-sec8 {
  padding-bottom: 460px;
  text-align: right;
}

.about .about-sec8 h2 {
  margin-top: -216px;
  padding-left: 35px;
  font-size: 236px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: -6.72px;
  text-align: left;
}

.about .about-sec8 h2 > p {
  height: 253px;
  overflow: hidden;
}

.about .about-sec8 h2 > p:first-of-type {
  position: relative;
}

.about .about-sec8 h2 > p:last-of-type {
  height: 198px;
  line-height: 0;
}

.about .about-sec8 h2 > p em {
  position: relative;
  top: 100%;
}

.about .about-sec8 h2 > p em.playfair {
  margin-top: -40px;
  font-size: 165px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2.304px;
}

.about .about-sec8 h2 .img-wrap {
  position: absolute;
  top: 16px;
  left: 500px;
}

.about .about-sec8 h2 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 206px;
  mix-blend-mode: difference;
}

.about .about-sec8 > img {
  opacity: 0;
}

.about .about-sec8 > img:first-of-type {
  width: 756px;
}

.about .about-sec8 > img:nth-of-type(2) {
  width: 1090px;
  margin-top: -155px;
}

.about .about-sec8 .text {
  width: 1090px;
  margin: 20px 0 0 auto;
  text-align: left;
}

.about .about-sec8 .text p {
  height: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.63;
  letter-spacing: -0.0576px;
  overflow: hidden;
}


.about .about-sec8 .text p em {
  position: relative;
  top: 100%;
}

.about .about-sec8 .text p span {
  position: relative;
  font-weight: 300;
}

.about .about-sec8 .text p span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.about .about-sec9 {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 70px);
  margin: 0 auto;
  padding: 50px 0 135px;
}

.about .about-sec9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: 1s;
}

.about .about-sec9.active::before {
  width: 100%;
}

.about .about-sec9 h2 {
  font-size: 107px;
  font-weight: 500;
  line-height: 134.4px;
  letter-spacing: -3.456px;
}

.about .about-sec9 h2 p {
  height: 134px;
  overflow: hidden;
}

.about .about-sec9 h2 a {
  height: 122px;
  font-size: 88px;
  overflow: hidden;
}

.about .about-sec9 h2 em {
  position: relative;
  top: 100%;
  transition-duration: 1s;
}

.about .about-sec9.active h2 em {
  top: 0;
}

.about .about-sec9 h2 p em {
  transition-delay: 0.1s;
}

.about .about-sec9 h2 a em {
  transition-delay: 0.25s;
}

.about .about-sec9 h2 a em .arrow-wrap {
  width: 40px;
  height: 40px;
}

.about .about-sec9 span:not(.playfair) {
  font-family: "Playfair Display", serif;
  font-style: normal;
}

.about .about-sec9 .project-list {
  display: flex;
}

.about .about-sec9 .project-list .list-item {
  padding: 0 15px;
  box-sizing: border-box;
}

.about .about-sec9 .project-list .list-item .title-wrap {
  height: 54px;
  overflow: hidden;
}

.about .about-sec9 .project-list .list-item .title {
  position: relative;
  top: 100%;
  font-size: 21px;
  line-height: 1.28;
  letter-spacing: -0.672px;
  transition-duration: 1s;
  transition-delay: 0.6s;
}

.about .about-sec9.active .project-list .list-item .title {
  top: 0;
}

.about .about-sec9 .project-list .list-item .title .category {
  display: block;
  font-style: normal;
}

.about .about-sec9 .project-list .list-item .img-wrap {
  margin-top: 25px;
  overflow: hidden;
}

.about .about-sec9 .project-list .list-item .img-wrap img {
  height: 330px;
  transition: 1s;
  opacity: 0;
}

.about .about-sec9 .project-list .list-item:hover .img-wrap img {
  scale: 1.11;
}

.about .about-sec9 .project-list .list-item .video-wrap {
  position: relative;
  margin-top: 25px;
  padding-top: 330px;
  overflow: hidden;
}

.about .about-sec9 .project-list .list-item .video-wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about .about-sec9 .project-list .list-item .video-wrap .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  opacity: 0;
}

.about .about-sec9 .project-list .list-item .video-wrap .video iframe {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  scale: 1;
  transition: 1s;
}

.about .about-sec9 .project-list .list-item:hover .video-wrap .video iframe {
  scale: 1.11;
}

.about .about-sec10 {
  position: relative;
  width: calc(100% - 70px);
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

.about .about-sec10::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: 1s;
}

.about .about-sec10.active::before {
  width: 100%;
}

.about .about-sec10 h2 {
  padding: 40px 0 26px;
  font-size: 127px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -3.552px;
  transition: 0.3s;
}

.about .about-sec10:hover h2 {
  padding-left: 35px;
  background-color: #000;
  color: #fff;
}

.about .about-sec10 h2 > div {
  display: flex;
  align-items: center;
  height: 148px;
  overflow: hidden;
}

.about .about-sec10 h2 > div p,
.about .about-sec10 h2 .arrow-wrap {
  position: relative;
  top: 100%;
}

.about .about-sec10 h2 .arrow-wrap {
  width: 64px;
  height: 64px;
  margin-left: 20px;
}

.about .about-sec10:hover h2 .arrow-wrap .arrow {
  background: url("../images/arrow_white.png") no-repeat center center / cover;
}

.about .about-sec10:hover h2 .arrow-wrap .arrow1 {
  top: -105%;
  right: -105%;
  opacity: 0;
}

.about .about-sec10:hover h2 .arrow-wrap .arrow2 {
  top: 0;
  right: 0;
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 24px 35px;
  box-sizing: border-box;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.45px;
}

footer.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

footer .left-wrap {
  display: flex;
  align-items: flex-end;
}

footer .left-wrap p {
  margin-right: 55px;
}

footer .left-wrap p:last-of-type {
  margin-right: 0;
}

footer .right-wrap {
  text-align: right;
}

footer .right-wrap a {
  width: 112px;
  margin-left: auto;
  font-size: 14px;
}

footer .right-wrap a .arrow-wrap {
  width: 9px;
  height: 9px;
}

footer .right-wrap img {
  width: 165px;
  margin-top: 5px;
}
